// Colors
$brand: #F18700;
$base: #151619;
$font_main: $base;
$white: #fff;
$line-green: #06C755;
$cta-yellow: #F5B800;
$accent-color: $line-green;
$main-color: $brand;
$protect-gray: #707070;

// Typography
$font-family: "Noto Sans JP", sans-serif;

// Box-shadow
$img-shadow: 2px 3px 9.8px 0 #2F3E5C26;