.fv {
  position: relative;
  min-height: 560px;
  overflow: hidden;
  background-image: url("../images/bg_firstview.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  @include md {
    min-height: 580px;
    align-items: flex-end;
    padding-bottom: 64px;
  }
  &__inner {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    @include md {
      justify-content: flex-end;
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__content {
    flex: 1;
    max-width: 58rem;
    color: $white;
  }

  &__label {
    position: relative;
    display: inline-block;
    font-family: "Helvetica Neue";
    margin-bottom: 3.4rem;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: $brand;
      clip-path: polygon(1% 0%, 100% 0%, 99% 100%, 0% 100%);
      z-index: -1;
      @include underline-reveal-init;
    }
    @include md {
      font-size: 18px;
      margin-bottom: 1.4rem;
    }
  }

  &__title {
    margin-bottom: 1.4rem;
    font-family: "Noto Sans Javanese", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    @include md {
      font-size: 36px;
    }
    @include xs {
      font-size: 32px;
    }
  }

  &__desc {
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0;
  }

  &__features {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex-shrink: 0;
    @include md {
      gap: 1.4rem;
    }
  }

  &__feature {
    background-color: $white;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    width: fit-content;
    @include md {
      clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    }
  }

  &__feature-inner {
    display: flex;
    align-items: center;
    padding: 0.6rem 4.8rem;
    gap: 1rem;
    @include md {
      padding: 0.6rem 2.4rem;
    }
  }

  &__feature-check {
    flex-shrink: 0;
    color: $brand;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    @include md {
      font-size: 32px;
    }
    @include xs {
      font-size: 28px;
    }
  }

  &__feature-text {
    color: $brand;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.4;
    white-space: nowrap;
    letter-spacing: 7%;
    font-style: italic;
    span {
      font-size: 34px;
      @include md {
        font-size: 28px;
      }
    }
    @include md {
      font-size: 20px;
    }
  }
}

.cta-band {
  position: relative;
  background-color: $base;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include md {
    min-height: 300px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(to top, #F18700 0%, #F9D423 100%);
    clip-path: polygon(0 30%, 100% 0%, 100% 70%, 0% 100%);
  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__bike {
    z-index: 2;
    img {
      width: 34rem;
      height: auto;
      object-fit: contain;
      @include md {
        width: 20rem;
      }
      @include xs {
        width: 14rem;
      }
    }

    &--left {
      position: absolute;
      left: 1.2rem;
      bottom: 0;
    }

    &--right {
      position: absolute;
      right: 1.2rem;
      top: -2rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    margin-bottom: 1.4rem;
    font-size: 24px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
    color: $base;
    @include md {
      font-size: 20px;
    }

    @include xs {
      font-size: 19px;
    }
  }

  &__title-slash {
    color: $white;
    font-weight: 700;
    line-height: 1;
  }

  &__title-highlight {
    color: $white;
  }

  &__lead {
    margin-bottom: 1rem;
    color: $white;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0;
  }

  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    max-width: 40rem;
    width: 100%;
    height: 57px;
    background-color: #06C755;
    border-radius: 15px;
    color: $white;
    text-decoration: none;
    transition: opacity 0.2s ease;
    animation: dokundokun 1300ms ease infinite;

    &:hover {
      opacity: 0.9;
    }

    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }

  &__btn-sub {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0;
  }

  &__btn-main {
    display: inline-flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    font-family: "Helvetica Neue";
    span {
      font-size: 14px;
    }
  }

  &__btn-arrow {
    flex-shrink: 0;
    width: 10px;
    height: 16px;
  }
}

.concern {
  position: relative;
  background-color: $base;
  overflow: hidden;
  padding: 8rem 0 0;
  background-image: url("../images/bg_concern.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include md {
    padding-top: 6rem;
  }

  &__inner {
    position: relative;
    z-index: 1;
  }

  &__heading {
    margin-bottom: 2rem;
    color: $white;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0;
    font-family: "Noto Sans Javanese", sans-serif;
    @include md {
      font-size: 28px;
    }
  }

  &__accent {
    color: $brand;
  }

  &__highlight {
    color: $brand;
    font-weight: 700;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 6rem;

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include xs {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2.5rem 2.4rem;
    @include md {
      gap: 1.6rem;
      padding: 1.2rem 4rem;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 7rem;
    height: 7rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__text {
    max-width: 160px;
    color: $white;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0;
    text-align: center;
  }

  &__solution {
    margin-bottom: 1.4rem;
    color: $white;
    font-size: 34px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    letter-spacing: 0;
    font-family: "Noto Sans Javanese", sans-serif;
    @include md {
      font-size: 28px;
    }
  }

  &__exclaim {
    font-size: 40px;
    font-style: italic;
  }

  &__arrow {
    width: 120px;
    height: 28px;
    background-color: white;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    margin: 0 auto 2.5rem auto;
  }

  &__concepts {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__concept {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba($base, 0.3);
    }
  }

  &__concept-label {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0;
    @include md {
      font-size: 16px;
    }
  }
}

.protect {
  position: relative;
  padding: 8rem 0;

  @include md {
    padding: 6rem 0;
  }

  &__header {
    margin-bottom: 3rem;
    text-align: center;
  }

  &__title {
    margin-bottom: 1.2rem;
    color: $white;
    font-size: 28px;
    font-family: "Noto Sans Javanese", sans-serif;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0;
    @include md {
      font-size: 24px;
    }
  }

  &__title-accent {
    position: relative;
    display: inline-block;

    &::before {
      content: "";
      position: absolute;
      top: -1rem;
      left: 50%;
      width: 7px;
      height: 7px;
      background-color: $brand;
      border-radius: 50%;
      transform: translateX(-50%);
    }
  }

  &__lead {
    max-width: 676px;
    margin: 0 auto 1.6rem;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    text-align: center;
  }

  &__highlight {
    color: $brand;
    font-weight: 700;
  }

  &__note {
    color: white;
    font-size: 12px;
    line-height: 1.7;
    text-align: center;
  }

  &__compare {
    max-width: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    margin: 0 auto 2.4rem auto;
    @include md {
      flex-direction: column;
    }
  }

  &__panel {
    flex: 1;
    max-width: 400px;
    min-height: 608px;
    overflow: hidden;
  }

  &__panel-head {
    padding: 1.4rem 2rem;
    color: $white;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0;
    @include md {
      font-size: 20px;
    }
  }
  &__panel-foot {
    padding: 1.2rem 2rem;
    color: $white;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0;
    @include md {
      font-size: 18px;
    }
  }

  &__panel--home &__panel-head {
    background-color: #585858;
  }

  &__panel--home &__panel-foot {
    background-color: #A0A0A0;
  }

  &__panel--moto &__panel-head {
    background-color: $brand;
  }
  &__panel--moto &__panel-foot {
    background-color: #F4A94A;
  }

  &__list {
    background-color: $white;
    padding: 5px 3rem;
  }

  &__panel--moto &__row {
    padding: 1.25rem 0;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    gap: 1.6rem;
    padding: 1.5rem 0;
    border-bottom: 1px solid #BEC3D2;

    &:last-child {
      border-bottom: none;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 76px;
    height: 76px;
    border: 1px solid #BEC3D2;
    border-radius: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__row-title {
    margin-bottom: 1rem;
    color: $base;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    @include md {
      font-size: 18px;
    }
    &--accent {
      color: $brand;
    }

    &.small {
      font-size: 16px;
    }
  }

  &__row-text {
    color: $base;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    span {
      font-size: 13px;
    }
  }

  &__arrow {
    width: 70px;
    height: 50px;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    background: linear-gradient(to left, #F18700, #F9D423);
    margin: 0 auto;
    @include md {
      transform: rotate(90deg);
      width: 50px;
      height: 40px;
    }
  }

  &__disclaimer {
    color: white;
    font-size: 12px;
    line-height: 1.7;
    text-align: right;
  }
}

.service {
  position: relative;
  overflow: hidden;
  padding: 8rem 0;
  background-image: url("../images/bg_service.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include md {
    padding: 6rem 0;
  }

  &__inner {
    position: relative;
    z-index: 2;
  }

  &__label {
    color: rgba($white, 0.2);
    font-family: "Anton", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
  }

  &__title {
    margin-bottom: 2rem;
    color: $brand;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0;
  }

  &__desc {
    max-width: 530px;
    margin-bottom: 4rem;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
    span {
      font-size: 22px;
      color: $brand;
      font-weight: 700;
      line-height: 1;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 530px;
    padding: 4px 4px 4px 0;
    gap: 1.5rem;
    @include md {
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  &__card {
    --card-w: 254px;
    --card-h: 94px;
    --card-skew: -5.42deg;
    --card-shape-h: 70.5px;
    --card-border-offset: 4px;

    position: relative;
    display: flex;
    align-items: center;
    width: var(--card-w);
    height: var(--card-h);

    &::before {
      content: "";
      position: absolute;
      top: calc(25% - var(--card-border-offset));
      left: calc(var(--card-border-offset) * -1);
      width: var(--card-w);
      height: var(--card-shape-h);
      border: 1px solid $white;
      background: transparent;
      transform: skewY(var(--card-skew));
      transform-origin: 0 0;
      box-sizing: border-box;
      pointer-events: none;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 25%;
      left: 0;
      width: var(--card-w);
      height: var(--card-shape-h);
      background: linear-gradient(135deg, #F9D423 0%, #F18700 100%);
      transform: skewY(var(--card-skew));
      transform-origin: 0 0;
      z-index: 1;
    }
  }

  &__card-inner {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 2rem 0 2.4rem;
    gap: 1.2rem;
  }

  &__card-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: $white;
    border-radius: 50%;

    img {
      width:20px;
      height:20px;
      object-fit: contain;
    }
  }

  &__card-text {
    color: $white;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0;
  }
}

.strength {
  position: relative;
  padding: 8rem 0 0;

  @include md {
    padding: 6rem 0;
  }

  &__inner {
    overflow: hidden;
  }

  &__label {
    color: rgba($white, 0.2);
    font-family: "Anton", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
  }

  &__title {
    margin-bottom: 2rem;
    color: $brand;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0;
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
    row-gap: 2rem;
    margin-top: 3rem;
    padding: 5rem 0;
    list-style: none;
    @include md {
      row-gap: 3.6rem;
    }
  }

  &__card {
    position: relative;
    width: 212px;
    height: 355px;
    @include sm {
      width: 48%;
      height: 330px;
    }
  }

  &__num {
    position: absolute;
    top: -2.8rem;
    left: 1.2rem;
    z-index: 2;
    color: $brand;
    font-family: "Anton", sans-serif;
    font-size: 69px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    font-style: italic;
  }

  &__card-body {
    height: 100%;
    border: 1px solid $white;
    background-color: $base;
  }

  &__media {
    line-height: 0;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__card-title {
    padding: 1rem 0.6rem 2rem 0.6rem;
    color: $white;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    @include sm {
      font-size: 16px;
    }
  }

  &__card-text {
    padding: 0 0.6rem;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    @include sm {
      font-size: 14px;
    }
  }

  &__choose {
    padding: 6.5rem 0;
    background-color: $base;
    background-image: url("../images/bg_choose.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include xs {
      padding: 3.6rem 0;
    }
  }

  &__choose-heading {
    position: relative;
    margin-bottom: 4rem;
    color: $white;
    font-size: 24px;
    font-family: "Helvetica Neue";
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0;
    width: fit-content;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: #F18700;
      clip-path: polygon(1% 0%, 100% 0%, 99% 100%, 0% 100%);
      @include underline-reveal-init;
    }
    @include md {
      font-size: 20px;
    }
  }

  &__choose-accent {
    color: $brand;
  }

  &__choose-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 0;
    padding: 0;
    list-style: none;

    @include lg {
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
      grid-template-columns: 1fr;
    }
  }

  &__choose-card {
    background-color: rgba($white, 0.8);
    border: 1px solid $white;
  }

  &__choose-media {
    line-height: 0;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__choose-body {
    padding: 1.5rem 2.8rem;
  }

  &__choose-title {
    margin-bottom: 1.4rem;
    color: $base;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    min-height: 44px;
    @include md {
      min-height: unset;
    }
  }

  &__choose-text {
    color: $base;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
  }

  &__compare {
    padding: 5rem 0;
    background-color: $base;
    @include md {
      padding: 3rem 0;
    }
  }

  &__compare-heading {
    position: relative;
    margin-bottom: 4rem;
    color: $white;
    font-size: 24px;
    font-family: "Helvetica Neue";
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0;
    width: fit-content;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: #F18700;
      clip-path: polygon(1% 0%, 100% 0%, 99% 100%, 0% 100%);
      @include underline-reveal-init;
    }
  }

  &__compare-accent {
    color: $brand;
  }

  &__compare-table-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__compare-table {
    width: 100%;
    min-width: 64rem;
    border-collapse: collapse;
    table-layout: fixed;

    th,
    td {
      border: 1px solid $white;
      vertical-align: middle;
    }

    thead th {
      padding: 1.4rem 1rem;
      color: $white;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      text-align: center;
      letter-spacing: 0;
      background-color: rgba($color: $white, $alpha: 0.1);

      &.is-featured {
        background-color: $brand;
      }

      &:nth-child(1) {
        border: none;
        background-color: transparent;
      }

      @include md {
        font-size: 1.4rem;
      }
    }

    tbody th {
      padding: 1.4rem 1.6rem;
      color: $white;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      text-align: center;
      letter-spacing: 0;
    }

    tbody td {
      padding: 1.2rem 1rem;
      color: $white;
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      text-align: center;

      &.is-featured {
        color: $brand;
      }
    }

    tbody th {
      background-color: rgba($color: $white, $alpha: 0.25);
    }
  }

  &__mark {
    display: inline-block;
  }
}

.price {
  padding: 8rem 0;
  background-image: url("../images/bg_concern.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include md {
    padding: 6rem 0;
  }

  &__label {
    color: rgba($white, 0.2);
    font-family: "Anton", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
  }

  &__title {
    margin-bottom: 2rem;
    color: $brand;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0;
  }

  &__plans {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    margin-bottom: 5rem;
    margin-top: 1rem;
    @include lg {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  &__plan-label {
    margin-bottom: 1.2rem;
    color: $white;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0;
  }

  &__fee-box {
    position: relative;
    height: 230px;
    border: 1px solid $white;
    padding: 2rem 1.5rem;
    overflow: hidden;
  }

  &__fee-content {
    position: relative;
    background-image: url("../images/price.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 1.5rem;
  }

  &__fee-main {
    display: flex;
    align-items: flex-end;
    gap: 1.2rem;
    flex-wrap: wrap;
  }

  &__fee-amount {
    color: $white;
    font-size: 42px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    font-family: "Anton", sans-serif;
    letter-spacing: 2%;
  }

  &__fee-tilde {
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    font-family: "Anton", sans-serif;
  }

  &__fee-tax {
    margin-bottom: 0.6rem;
    color: $white;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0;
  }

  &__fee-sizes {
    display: flex;
    gap: 0.8rem;
    margin: 1.6rem 0 1rem;
    padding: 0;
    list-style: none;

    li {
      width: 50px;
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $brand;
      color: $white;
      font-size: 15px;
      font-weight: 700;
      line-height: 1.1;
      letter-spacing: 0;
    }
  }

  &__fee-note {
    color: $white;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
  }

  &__option-box {
    position: relative;
    width: 100%;
    height: 230px;
    border: 1px solid $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1.5rem;
  }

  &__option-row {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4.5rem;
    background-color: rgba($white, 0.2);
    @include md {
      justify-content: center;
      flex-direction: column;
      padding: 1.4rem 1.6rem;
      gap: 1rem;
    }
  }

  &__option-name {
    max-width: 183px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.2;
    color: white;
    @include md {
      max-width: unset;
      font-size: 17px;
    }
  }

  &__option-price {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 2%;
    color: white;
    line-height: 1;
  }

  &__option-price-unit {
    font-size: 24px;
    letter-spacing: 13%;
  }

  &__option-price-tax {
    font-size: 10px;
    letter-spacing: 2%;
  }

  &__option-price-month {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5;
    font-family: "Noto Sans JP", sans-serif;
  }

  &__provide {
    padding: 4rem 0;
    background-image: url("../images/bg_provide.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__provide-note {
    position: relative;
    margin-bottom: 4rem;
    padding-bottom: 1rem;
    color: $white;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: #F18700;
      clip-path: polygon(1% 0%, 100% 0%, 99% 100%, 0% 100%);
      @include underline-reveal-init;
    }
  }

  &__provide-heading {
    margin-bottom: 0.4rem;
    color: $white;
    font-family: "Noto Sans Javanese", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    text-align: center;
    span {
      font-size: 28px;
      @include md {
        font-size: 26px;
      }
    }
  }

  &__provide-accent {
    color: $brand;
  }

  &__provide-lead {
    margin-bottom: 3rem;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    text-align: center;
  }

  &__provide-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 0 0 2.4rem;
    padding: 0;
    list-style: none;

    @include lg {
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
      grid-template-columns: 1fr;
    }
  }

  &__provide-card {
    position: relative;
  }

  &__provide-num {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: $brand;
    border-radius: 50%;
    color: $white;
    font-size: 25px;
    font-weight: 400;
    line-height: 1;
    transform: translate(-50%, -50%);
    font-style: italic;
    font-family: "Anton", sans-serif;
    padding-right: 0.4rem;
  }

  &__provide-card-body {
    height: 100%;
    padding: 3.2rem 1.6rem 1.2rem;
    background-color: rgba($color: $white, $alpha: 0.8);
    text-align: center;
  }

  &__provide-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2rem;

    img {
      width: 105px;
      height: 105px;
      object-fit: contain;
      @include md {
        width: 75px;
        height: 75px;
      }
    }
  }

  &__provide-card-title {
    margin-bottom: 1rem;
    color: $brand;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    span {
      font-size: 16px;
    }
  }

  &__provide-card-text {
    color: $base;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 2%;
    text-align: center;
    span {
      font-size: 14px;
    }
  }

  &__provide-banner {
    position: relative;
    margin-bottom: 7rem;
  }

  &__provide-banner-inner {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem 9rem;
    background: linear-gradient(to right, #F18700, #F9D423);

    @include md {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
    }
  }

  &__provide-banner-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    img {
      width: 90px;
      height: auto;
      object-fit: contain;
    }
  }

  &__provide-banner-text {
    margin-bottom: 0.8rem;
    color: $white;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
  }

  &__provide-banner-emphasis {
    margin-bottom: 0.8rem;
    color: $base;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
  }

  &__provide-banner-note {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
  }

  &__steps-heading {
    position: relative;
    margin-bottom: 8.5rem;
    color: $white;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.6;
    font-family: "Helvetica Neue";
    width: fit-content;
    padding-bottom: 0.8rem;
    @include md {
      font-size: 20px;
    }
    span {
      color: $brand;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: #F18700;
      clip-path: polygon(1% 0%, 100% 0%, 99% 100%, 0% 100%);
      @include underline-reveal-init;
    }
  }

  &__steps-heading-num {
    font-size: 48px;
    line-height: 1;
    @include md {
      font-size: 36px;
    }
  }

  &__steps {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.4rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__step {
    position: relative;
  }

  &__step-label {
    position: absolute;
    top: 0;
    left: 2rem;
    transform: translateY(-50%);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.4rem;
    font-family: "Anton", sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    line-height: 1;
    letter-spacing: 0;
    color: $brand;
    @include md {
      font-size: 20px;
    }
  }

  &__step-label-num {
    font-size: 69px;
    @include md {
      font-size: 48px;
    }
  }

  &__step-box {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding: 3.5rem 2.3rem;
    border: 1px solid $white;
    min-height: 180px;
    @include md {
      padding: 3rem 1.6rem;
    }
  }

  &__step-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    background-color: $white;
    border-radius: 50%;

    img {
      width: 42px;
      height: auto;
      object-fit: contain;
    }
  }

  &__step-title {
    margin-bottom: 0.6rem;
    color: $white;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0;
  }

  &__step-text {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 2%;
    @include md {
      font-size: 15px;
    }
  }

  &__arrow {
    width: 20px;
    height: 34px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @include md {
      transform: rotate(90deg);
    }
  }
}

.faq {
  background-color: $base;
  padding: 6rem 0;

  @include md {
    padding: 4rem 0;
  }

  &__label {
    color: rgba($white, 0.2);
    font-family: "Anton", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
  }

  &__title {
    margin-bottom: 2rem;
    color: $brand;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 3.5rem;
  }

  &__item {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba($color: #fff, $alpha: 0.2);
    overflow: hidden;
  }

  &__question {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 2rem 4rem;
    border: none;
    background: none;
    color: $white;
    text-align: left;
    cursor: pointer;
    @include md {
      padding: 2rem 2rem;
    }
    @include xs {
      padding: 2rem 1rem;
    }
  }

  &__q,
  &__a {
    color: white;
    flex-shrink: 0;
    font-size: 24px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    line-height: 1;
    @include md {
      font-size: 20px;
    }
  }

  &__question-text {
    flex: 1;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0;
    @include md {
      font-size: 16px;
    }
  }

  &__icon {
    display: block;
    flex-shrink: 0;
    width: 0.9rem;
    height: 0.9rem;
    margin-top: -0.2rem;
    border-right: 2px solid $white;
    border-bottom: 2px solid $white;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.2s ease;
  }

  &__item.is-open &__icon {
    margin-top: 0.2rem;
    transform: rotate(-135deg);
  }

  &__answer {
    display: none;
    border-top: 1px solid rgba($white, 0.15);
  }

  &__item.is-open &__answer {
    display: block;
  }

  &__answer-inner {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 2rem 4rem;
    @include md {
      padding: 2rem 2rem;
    }
    @include xs {
      padding: 2rem 1rem;
    }
  }

  &__answer-text {
    flex: 1;
    color: $white;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0;
    @include md {
      font-size: 16px;
    }
  }
}
